@model ProjectorRaysWeb.Models.ResultPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Upload success</h1>
    <p>Click the link below to download the converted files.</p>
    <a href="@Url.Action("Download", "Home", new { folderName = Model.FolderName })" class="btn btn-primary">Download</a>
</div>